*{
    color: white;
}
h1{
    text-align: center;
    font-size: 40px;
}

.description{
   font-size:30px ;
   text-align: center;
   margin-bottom: 40px;
   padding-left: 30px;
   padding-bottom: 0;
}
.comics img{
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0.5s;
}
.comics img:hover{
    transform: scale(1);
}
.comics{
   display: inline-block;
   width: 300px;
   cursor: pointer; 
}
.area{
    overflow-x: hidden;
}
.list{
    transition:all ease 0.5s ;
}
.icon--left,
.icon--right{
    position: absolute;
    width: 50px;
    height:475px ;
    background-color:rgba(172, 46, 46,0.6);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content:center ;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: all ease 0.7s;
}
.icon--left{
    left: 0;
}
.icon--right{
    right: 0;
}
.area:hover .icon--left,
.area:hover .icon--right{
    opacity: 1;
}

@media (max-width: 760px){
    .description{
        font-size: 16px;
    }
    .icon--left,
    .icon--right{
        opacity: 1;
    }
}
