@import url('https://fonts.googleapis.com/css2?family=Marvel&display=swap');

body{
  background-color: black;
  box-sizing: border-box;
  font-family: 'Marvel', sans-serif;
}

::-webkit-scrollbar{
  width: 10px;
  background-color:black;
  opacity: 0;
}
::-webkit-scrollbar-thumb{
  width: 10px;
  background-color: #601117;
  border-radius: 20px;
}